<div id="dl-menu" class="xv-menuwrapper responsive-menu">
    <ul class="dl-menu align-items-center">
        <li class=""><a href="index.html">Home</a>
        </li>
        <li class="parent"><a href="about.html">About Us</a>
            <ul class="lg-submenu">
                        <li><a href="who-are-we.html">Who are We</a>
                        </li>
                        <li><a href="services.html">Our Services</a>
                        </li>
                        <li><a href="team.html">Our Team</a>
                        </li>
                        <li><a href="mission-and-vision.html">Our Mission</a>
                        </li>
            </ul>
                </li>

                <li class=""><a href="portfolio.html">Projects</a>

                </li>
                <!-- <li class=""><a href="#">Blog</a> -->
                <li ><a class="btn btn-warning nav-btn" href="contact.html">Get in Touch</a>

        </li>

    </ul>
</div>