<main class="parallel">
    <div class="row grid">
            <div class="col-xs-12 col-sm-6 height-full">
                <div class="service-featured-thumbs">
                    <div class="service-thumb animated fadeInUpShort go">
                        <a href="#" class="img-link">
                            <img src="assets/img/basic/r1.gif" alt="">
                        </a>
                    </div>
                </div>
            </div>
        <div class="col-md-6 white">
            <div class="p-5">
                <div class="p-5">
                    <div class="p-t-b-40">
                        <img src="assets/img/basic/logo.png" alt="Dbug Tech">
                    </div>
                    <h1 class="fadeInUpShort animated go">We're getting ready to launch!</h1>
                    <br>
                    <h5 class="fadeInUpShort animated go">
                    It will be worth the wait, click the rocket to tweet at us! <h5/>
                    <br>
                    <div class="counter-wrapper counter" data-date="March 10, 2019">
                        <div class="p-0 text-left"><span class="days">317</span> <span class="count-type">days</span>
                        </div>
                        <div class="p-0 text-left"><span class="hours">04</span> <span class="count-type">hrs</span>
                        </div>
                        <div class="p-0 text-left"><span class="minutes">57</span> <span class="count-type">mins</span>
                        </div>
                        <div class="p-0 text-left"><span class="seconds">11</span> <span class="count-type">secs</span>
                        </div>
                    </div>
                    <ul class="social">
                        <li class="linkedin"><a href="https://www.linkedin.com/company/dbugtech"><i class="icon icon-linkedin"></i></a></li>
                        <li class="dribbble"><a href="https://www.facebook.com/dbugtech"><i class="icon icon-facebook"></i></a></li>
                        <li class="twitter"><a href="https://twitter.com/DbugTech"><i class="icon icon-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>